<<<<<<< HEAD
<form action='/login' method='POST'>
  <div>
    <label for='username'>Username:</label>
    <input type='text' name='username' placeholder="Enter your username" required/>
  </div>

  <div>
    <label for='password'>Password:</label>
    <input type='password' name='password' placeholder="Enter your passport" required/>
  </div>

  {{#if errorMessage}}
    <div class='error-message'>{{errorMessage}}</div>
  {{/if}}

  <div>
    <button>Log in</button>
  </div>
</form>
=======
<div class="container-fluid">


<h2>This is our log in page</h2>
<div class="col-md-3">

 <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
>>>>>>> 9f312057b29e875ad89d11b654cb46aea44bc4e2
