<style>
  body{ background: linear-gradient(-45deg, #F9F871, #CD68AB9B, #b487f7, #23d5ab); background-size: 400% 400%; animation: gradient 15s ease infinite; height: 100vh; */ } @keyframes gradient { 0% { background-position: 0% 50%; } 50% {
  background-position: 100% 50%; } 100% { background-position: 0% 50%; } }
</style>


<session class="auth-container">
  <form action="/login" method="post">
    <div>
    <h1>Login</h1>
    </div>   
    {{>message}}
    <div class="form-group">
      <label>Username: </label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Enter your username"
        required />
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password"
        required />
    </div>
    <div>
      <input type="submit" value="Login" />
    </div>
    <p class="account-message">
        Need an account?
        <a href="/signup">Sign up</a>
    </p>
  </form>
</session>
