<<<<<<< HEAD
<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
 <div>
  <label for="name">Name</label>
  <input id="name" type="text" name="name">
 </div>
 
 <div>
  <label for="username">Username</label>
  <input id="username" type="text" name="username">
 </div>
 
 <div>
  <label for="password">Password</label>
  <input id="password" type="password" name="password">
 </div>

 <div>
  <label for="email">Email</label>
  <input id="email" type="email" name="email">
 </div>

 <div>
  <label for="url">Url</label>
  <input id="url" type="text" name="url">
 </div>


 {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
 {{/if}}

 <div>
  <button>Create account</button>
 </div>

 <p class="account-message">
  Do you already have an account?
  <a href="/login">Login</a>
 </p>

</form>
=======
<div class="container-fluid">

<div class="col-md-3">

  <h2>Signup</h2>
      
    <form action="/auth/signup" method="POST">
      <div class="mb-3">
      
        <label class="form-label"> Username
          <input type="text" name="username"
          placeholder="Berliner2022" class="form-control" />
        </label>
        
        <label class="form-label"> Email address
          <input type="email" name="email"
          placeholder="ex. dancer@gmail.com" class="form-control" />
        </label>

        
        <label class="form-label"> Password
          <input type="password" name="password"
          placeholder="*******" class="form-control" />
        </label>
           
        
      <button type="submit" class="btn btn-primary">Create account</button>
    </form>
  </div>
</div>
</div>
>>>>>>> 9f312057b29e875ad89d11b654cb46aea44bc4e2
