<h2>This is our sign up page</h2>
<div id="form">
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">

    <label>
      Username
      <input
        type="text"
        name="username"
        placeholder="Who are you at the party?"
      />
    </label>

    <label>
      Email
      <input type="email" name="email" placeholder="Your Email" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Create account</button>

  </form>
</div>