<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">

    <label>
      Username
      <input type="text" name="username" placeholder="Your Party Name" />
    </label>

    <label>
      Email
      <input type="email" name="email" placeholder="Your Email" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Create account</button>

  </form>
</div>