<div class="container-fluid">

<div class="col-md-3">

  <h2>Signup</h2>
      
    <form action="/auth/signup" method="POST">
      <div class="mb-3">
      
        <label class="form-label"> Username
          <input type="text" name="username"
          placeholder="Berliner2022" class="form-control" />
        </label>
        
        <label class="form-label"> Email address
          <input type="email" name="email"
          placeholder="ex. dancer@gmail.com" class="form-control" />
        </label>

        
        <label class="form-label"> Password
          <input type="password" name="password"
          placeholder="*******" class="form-control" />
        </label>
           
        
      <button type="submit" class="btn btn-primary">Create account</button>
    </form>
  </div>
</div>
</div>