<div class="container-fluid">

  <img src="/images/disco-ball.gif" alt="" />

  <button href="users/user-profile" type="button" class="btn btn-primary">Go to
    my Profile</button>
  <button href="/parties" type="button" class="btn btn-primary">Bring me to the
    next Party!</button>
  <button hhref="/parties/create" type="button" class="btn btn-primary">Post a
    Party</button>

</div>
{{! 
new section with party rules
 }}