<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/images/Logo.jpeg"
        alt=""
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      THE HAUS{PARTY}
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="/parties"
        >Parties</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="/login" role="button">Login</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" href="/signup" role="button">Signup</a>
      </li>
    </ul>

  </div>
</nav>
<div class="container-fluid"></div>

<div class="container-fluid">

  <img src="/images/disco-ball.gif" alt="" />

  <a href="/users/user-profile" type="button" class="btn btn-primary">Go to my
    Profile</a>
  <a href="/parties" type="button" class="btn btn-primary">Bring me to the next
    Party!</a>
  <a href="/parties/create" type="button" class="btn btn-primary">Post a Party</a>

</div>
{{! 
new section with party rules
 }}