<img src="/images/disco-ball.gif" alt="" />

<h1>

  <a href="/parties">Bring me to the next Party!</a>
</h1>

{{! 
new section with party rules
 }}
<div class="container-fluid">

  <div class="row">
    <div class="col">

      <article>
        <h3>RULE 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <img src="/images/group.jpeg" width="300" height="300" alt="group" />
      </article>

    </div>

    <div class="col">

      <article>
        <img src="" alt="" />
        <h3>RULE 2</h3>
        <p>
          Praesentium aut possimus expedita vel corrupti mollitia, id iste nisi
          dolore ea laudantium amet aspernatur eos veritatis distinctio, magnam
          animi earum consequuntur!</p>
      </article>

    </div>
    <div class="col">

      <article>
        <img src="" alt="" />
        <h3>RULE 3</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </article>
    </div>
  </div>
</div>