* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}

.container {
  display: flex;
}
.child {
  font-size: 10px;
  display: inline-block;
  margin: 20px 10px 0 25px;
}

.nav-link {
  color: rgb(201, 45, 45);
}

.btn-primary {
  color: #fff;
  background-color: #d42d2d;
  border-color: #ffd08a;
}