@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Mono", monospace;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  /* color: #EEEFE3; */
  color: #7a7a8c;
  background-color: rgb(18, 18, 19);
}

.navbar {
  padding: 1rem;
  background-color: #eeefe3 !important;
  /* background-color:  rgb(18, 18, 19) !important; */
}

.nav-link {
  font-size: 1.1em !important ;
}

.carousel-inner .disco {
  max-width: 500px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
}

.glitch {
  font-size: 8rem;
  font-weight: 700;
  color: #fbcc9f;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

/* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
.carousel-caption h3 {
  font-size: 300%;
  font-weight: 500;
  text-shadow: 1px 1px 15px rgb(61, 20, 70);
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #00bc7e;
  border: 1px solid #00bc7e;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid rgb(253, 252, 250);
}

.my-4 {
  width: 75%;
  margin: 0 auto;
}

i {
  padding: 2rem 0;
}

.fa-angry {
  color: rgb(255, 130, 130);
}

.fa-ban {
  color: #00bc7e;
}

.fa-bomb {
  color: darkorchid;
}

footer {
  background-color: rgb(28, 24, 31);
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
  }

  .carousel-caption h1 {
    font-size: 400%;
  }

  .carousel-caption h3 {
    font-size: 200%;
  }

  .carousel-caption .btn {
    font-size: 95%;
  }

  .display-4 {
    font-size: 200%;
  }

  .welcome .lead {
    font-size: 110%;
  }
}
@media (max-width: 576px) {
}

.carousel-item {
  transition: -webkit-transform 0.5s ease;

  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url("/images/hologram1.jpg");
  position: fixed;
  display: block;
  top: 0;
}
