* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  font-family: "DM Mono", monospace;
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* navbar css */

.navbar {
  padding: 1rem;
  background-color: #eeefe3 !important;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important ;
}

.tags {
  line-height: 2;
  margin-top: 1rem;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #9655ff, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-color: white;
}

.fa {
  color: #3ce753;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.edit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 30px;
  padding: 30px 30px 30px 30px;
  background-image: linear-gradient(
    to right top,
    #17191d,
    #141a1d,
    #121b1c,
    #131c19,
    #161c16
  );
  /* background-image: linear-gradient(to bottom, #00bc7e, #108775); */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.discoball {
  padding: 0px;
  height: 150px;
  width: 150px;
}
.form img {
  background-color: #ffffff;
}

.profile {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

form h1 {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

span.profile-name {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.card {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.image .profile-photo {
  border-radius: 100px;
  border: 2px solid #3ce753;
}

.image:hover .profile-photo {
  transform: scale(1.2);
  transition: 0.5s;
}

.btn {
  height: 40px;
  width: 100%;
  background-color: #3ce753;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.number {
  font-size: 22px;
  font-weight: bold;
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px;
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500;
}

.date {
  background-color: #ccc;
}

.profile-name {
  font-size: 40px;
  font-family: "Press Start 2P", cursive;
}
.profile-name:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.profile-text {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
